* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 36px 120px;
    align-items: center;
}

.header-nav {
    height: 100%;
}

.header-menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.header-menu__item {
    margin-right: 32px;
}

.header-menu__text {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}

.header-menu__btn {
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
}

/* header */

.first-screen__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ECE7E4;

}

.first-screen__text {
    margin-left: 100px;
}

.first-screen__sm-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.first-screen__b-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
    margin: 20px 0px;

}

.first-screen__inner-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    max-width: 509px;
    padding-bottom: 40px;
}

.first-screen__more-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    padding-left: 15px;

}

.first-screen__img {
    max-height: 720px;
    max-width: 720px;
    width: 100%;
}


/* our-firm */

.our-firm__container {
    width: 100%;
    height: 782px;
    display: flex;
    justify-content: center;

}

.our-firm__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #403E3B;
    margin-top: 96px;
    margin-right: 133px;
    margin-left: 336px;

}

.our-firm__article {
    margin-top: 100px;
    margin-right: 344px;

}

.our-firm__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 10px;
    width: 493px;
}

.our-firm__i {
    display: flex;
    list-style: none;
    padding-top: 18px;
}

.our-firm__person {
    padding-top: 32px;
    padding-left: 30px;
}

.person-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

.person-work {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}

@media screen and (max-width:1100px) {
    .first-screen__text {
        margin-left: 50px;
        margin-right: 50px;
    }

    .header-nav {
     margin-left: 250px;
  
    }
    .first-screen__container{
       height: 50%;
    }
}