* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .container {
    width: 80%;
    margin: 0px auto;
    background: rgb(146, 241, 146);
    height: 600px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

.box-left {
    width: 40%;
    min-height: 600px;
    background: rgb(226, 226, 226);
    border: 3px solid black
}

.box-right {
    width: 40%;
    min-height: 600px;
    background: rgb(141, 141, 141);
    border: 3px solid black;
}

.section {
    width: 100%;
    height: 300px;
    background: rgb(1, 149, 255);
} */

/* @media tv */
/* @media handheld */
/* @media projection */
/* @media braille */


/* @media screen */

/* @media all */

/* @media print */

/* @media speech */

/* @media screen and (max-width:800px) {
    .container {
        width: 100%;
        background: white;
    }

}

@media screen and (max-width:700px) {
    .box-right {
        width: 50%;
    }

    .box-left {
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .box-right {
        width: 100%;
    }

    .box-left {
        width: 100%;
    }

    .flex-wrapper {
       flex-direction: column;
       flex-wrap: wrap;
    }

} */
/* 
@media screen and (min-width:300px) and (max-width:500px){

    .section{
        background: indigo;
    }
}
@media screen and (orientation:landscape){
    .section{
        background: rgb(240, 197, 140);
    }
}

@media screen and (max-height:500px){
    .container{
        background: peru;
    }
} */
img {
    width: 100%;
}

.box {
    width: 100px;
    height: 100px;
    background: rgb(96, 30, 162);
    margin: 10px;
    animation-name: move;
    animation-duration: 3s;
    position: absolute;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-fill-mode:forwards ; */
    /* animation-fill-mode: backwards; */
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* @keyframes move {
    from {
        top: 0px;
    }

    to {
        background: rgb(225, 94, 236);
        top: 500px;
        height: 90px;
        width: 900px;
    }
} */
/* 
@keyframes move {
    0% {
        top: 0px;

    }

    25% {
        background: rgb(255, 255, 255);
        top: 300px;
        border-radius: 120%;
    }

    50% {
        background: rgb(140, 12, 12);
        transform: rotate(120deg);


    }

    100% {
        background: rgb(116, 113, 113);
        top: 500px;
        height: 90px;
        width: 900px;
    }
} */

@keyframes move {
    from {
        bottom: 0px;
    }

    to {
        background: rgb(225, 94, 236);
        height: 150px;
        bottom: 300px;
       
    }