* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    height: 5000px;
    width: 600px;
    position: relative;
    margin-top: 600px;
    background-color: rgb(101, 168, 88);
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: red;
    /* position: absolute;
    top: -50px;
    right: -50px;
    z-index: 5; */
    transition: 1s;
}

.big-box {
    width: 200px;
    height: 200px;
    margin: 10px;
    background: rgb(82, 80, 80);
    /* position: absolute;
    top: -50px;
    right: -50px;
    z-index: -1; */
}

/* */

p {
    position: relative;
}


p::first-letter {
    color: rgb(255, 0, 0);
    font-size: 70px;
}

p::first-line {
    color: rgb(255, 208, 0);

}

p::selection {
    color: brown;
    background-color: black;
}

p::after {
    content: '🍂';
    font-size: 100px;
}

/* p::before {
    content: ' 🪐';
    font-size: 100px;
} */
p::before {
    content: ' ';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url(https://www.notebookcheck-ru.com/uploads/tx_nbc2/MicrosoftSurfaceLaptop3-15__1__02.JPG);
}

ul :first-child {
    color: rgb(11, 183, 146);
}

ul :last-child {
    color: rgb(11, 183, 146);
}

/* odd */
/* .box:nth-child(-n+2) {
   background-color: blueviolet;

}

.box:nth-last-child(2n) {
    background-color: blueviolet;
 
 } */

/* .box:nth-last-child(-n+3) {
    background-color: blueviolet;
 }

 .box:nth-of-type(){

 } */

/* #email:focus{
    border:1px solid rgb(255, 0, 170) ;
    outline: none;
 } */

#email:invalid {
    border: 1px solid rgb(255, 0, 0);
    outline: none;
}

#email:valid {
    border: 1px solid rgb(0, 255, 72);
    outline: none;
}

input:checked+span {
    background-color: brown;
    width: 100px;
    height: 100px;
}

.box:hover{
    background-color: black;
    height: 150px;
    width: 150px ;
    transform: rotate(35deg);
}